body {
    font-family: Arial, sans-serif;
    background-color: #FFFBF4;
    color: #11120D;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 100px;
    font-size: 4vw;
}

h2 {
    margin-top: 40vw;
}
input {
    display: block;
    margin: 20px auto;
    border-radius: 1vw;
    background-color: #D8CFBC;
    border: none;
    padding: 8px;
    width: 80%;
    color:#565449;
    max-width: 300px;
}
button {
    padding: 10px;
    background-color: #565449;
    color: #D8CFBC;
    width: 80%;
    max-width: 300px;
    border: none;
    border-radius: 1vw;
    cursor: pointer;
}